<html
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:w="urn:schemas-microsoft-com:office:word"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
  xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
  xmlns="http://www.w3.org/TR/REC-html40"
  >
  <head>
    <meta name="Generator" content="Microsoft Word 15 (filtered medium)" />
    <!--[if !mso
      ]>
    <style>
      v\:* {behavior:url(#default#VML);}
      o\:* {behavior:url(#default#VML);}
      w\:* {behavior:url(#default#VML);}
      .shape {behavior:url(#default#VML);}
    </style>
    <!
    [endif]-->
    <style>
      <!--
        /* Font Definitions */
        @font-face
        	{font-family:Wingdings;
        	panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
        	{font-family:"Cambria Math";
        	panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
        	{font-family:Calibri;
        	panose-1:2 15 5 2 2 2 4 3 2 4;}
        @font-face
        	{font-family:"Calibri Light";
        	panose-1:2 15 3 2 2 2 4 3 2 4;}
        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        	{margin:0in;
        	font-size:12.0pt;
        	font-family:"Calibri",sans-serif;}
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
        	{mso-style-priority:34;
        	margin-top:0in;
        	margin-right:0in;
        	margin-bottom:0in;
        	margin-left:.5in;
        	font-size:12.0pt;
        	font-family:"Calibri",sans-serif;}
        span.EmailStyle57
        	{mso-style-type:personal-reply;
        	font-family:"Calibri",sans-serif;
        	color:#1F497D;}
        .MsoChpDefault
        	{mso-style-type:export-only;
        	font-size:10.0pt;}
        @page WordSection1
        	{size:8.5in 11.0in;
        	margin:1.0in 1.0in 1.0in 1.0in;}
        div.WordSection1
        	{page:WordSection1;}
        /* List Definitions */
        @list l0
        	{mso-list-id:874079356;
        	mso-list-type:hybrid;
        	mso-list-template-ids:1959547802 67698689 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
        @list l0:level1
        	{mso-level-number-format:bullet;
        	mso-level-text:;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:Symbol;}
        @list l0:level2
        	{mso-level-number-format:bullet;
        	mso-level-text:o;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:"Courier New";}
        @list l0:level3
        	{mso-level-number-format:bullet;
        	mso-level-text:;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:Wingdings;}
        @list l0:level4
        	{mso-level-number-format:bullet;
        	mso-level-text:;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:Symbol;}
        @list l0:level5
        	{mso-level-number-format:bullet;
        	mso-level-text:o;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:"Courier New";}
        @list l0:level6
        	{mso-level-number-format:bullet;
        	mso-level-text:;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:Wingdings;}
        @list l0:level7
        	{mso-level-number-format:bullet;
        	mso-level-text:;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:Symbol;}
        @list l0:level8
        	{mso-level-number-format:bullet;
        	mso-level-text:o;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:"Courier New";}
        @list l0:level9
        	{mso-level-number-format:bullet;
        	mso-level-text:;
        	mso-level-tab-stop:none;
        	mso-level-number-position:left;
        	text-indent:-.25in;
        	font-family:Wingdings;}
        ol
        	{margin-bottom:0in;}
        ul
        	{margin-bottom:0in;}
        -->
    </style>
    <!--[if gte mso 9
      ]>
    <xml>
      <o:shapedefaults v:ext="edit" spidmax="1027" />
    </xml
      >
    <![endif]-->
    <!--[if gte mso 9
      ]>
    <xml>
      <o:shapelayout v:ext="edit">
        <o:idmap v:ext="edit" data="1" />
      </o:shapelayout>
    </xml
      >
    <![endif]-->
  </head>
  <body
    bgcolor="#EDEDED"
    lang="EN-US"
    link="#0563C1"
    vlink="#954F72"
    style="word-wrap:break-word"
    >
    <div class="WordSection1">
      <p class="MsoNormal">
        <span style="color:#1F497D">
          <o:p>&nbsp;</o:p>
        </span>
      </p>
      <p class="MsoNormal">
        <span style="color:#1F497D">
          <o:p>&nbsp;</o:p>
        </span>
      </p>
      <div align="center">
        <table
          class="MsoNormalTable"
          border="0"
          cellspacing="0"
          cellpadding="0"
          width="729"
          style="width:546.6pt;border-collapse:collapse"
          >
          <!--
            <tr style="height:1.0pt">
              <td
                width="729"
                colspan="3"
                style="width:546.6pt;background:#EDEDED;padding:0in 0in 0in 0in;height:1.0pt"
              >
                <p
                  class="MsoNormal"
                  align="center"
                  style="text-align:center;line-height:0%"
                >
                  <i
                    >This message has been sent to all Centene Technologies
                    employees.<o:p></o:p
                  ></i>
                </p>
                <p
                  class="MsoNormal"
                  align="center"
                  style="text-align:center;line-height:105%"
                >
                  <o:p>&nbsp;</o:p>
                </p>
              </td>
            </tr>
            -->
          <tr style="height:1.0pt">
            <td
              width="729"
              colspan="3"
              style="width:546.6pt;background:#EDEDED;padding:0in 0in 0in 0in;height:1.0pt"
              >
              <p
                class="MsoNormal"
                align="center"
                style="text-align:center;line-height:105%"
                >
                <span style="color:black"
                  ><img
                  width="729"
                  height="214"
                  style="width:7.5937in;height:2.2291in"
                  id="CenteneTechnologiesHeader"
                  src="data:image/png;base64,{{ header_image }}" /></span
                  >
                <o:p></o:p>
              </p>
            </td>
          </tr>
          <tr style="height:12.0pt">
            <td
              width="729"
              colspan="3"
              style="width:546.6pt;background:white;padding:.35in .7in .35in .7in;height:12.0pt"
              >
              <p
                class="MsoNormal"
                align="center"
                style="text-align:center;line-height:30.0pt"
                >
                <strong
                  ><span
                  style='font-size:20.0pt;font-family:"Arial",sans-serif'
                  >The Change Request number is: {{ change_request.record.number }}</span
                  ></strong
                  >
                <o:p></o:p>
              </p>
          <tr style="height:49.5pt">
            <td
              width="729"
              colspan="3"
              style="width:546.6pt;background:white;padding:0in .25in 0in .25in;height:49.5pt"
              >
              <p
                class="MsoNormal"
                style="margin-bottom:12.0pt;line-height:100%"
                >
                <b
                  >
                  <span
                    style="font-size:14.0pt;line-height:100%;color:#5F3777;background:white"
                    >
                    The stories that are currently in Ready to Deploy:
                    <o:p></o:p>
                  </span
                    >
                </b>
              </p>
              <ul style="margin-top:0in" type="disc">
                <dl
                  class="MsoListParagraph" 
                  style="color:black;margin-left:0in;line-height:20px;mso-list:l0 level1 lfo2">
                  <span style="background:white">
                    {% if story_joined_list is defined and story_joined_list|length %}
                      {% for item in story_joined_list %}
                      <dt>{{ item }}</dt>
                      {% endfor %}
                    {% else %}
                      <dt>There are no stories in Ready to Deploy state yet.</dt>
                    {% endif %}
                    <o:p></o:p
                      >
                  </span>
                </dl>
              </ul>
            </td>
          </tr>
          <tr style="height:1.0in">
            <td
              width="729"
              colspan="3"
              valign="top"
              style="width:546.6pt;background:white;padding:.1in .25in .1in .25in;height:1.0in"
              >
              <p
                class="MsoNormal"
                style="margin-bottom:12.0pt;line-height:105%"
                >
                <b
                  ><span
                  style="font-size:14.0pt;line-height:105%;color:#5F3777;background:white"
                  >Questions? Concerns?</span
                  ></b
                  >
                <b
                  >
                  <span
                    style="font-size:14.0pt;line-height:105%;color:#5F3777;background:white"
                    >
                    <o:p></o:p>
                  </span
                    >
                </b>
              </p>
              <ul style="margin-top:0in" type="disc">
                <li
                  class="MsoListParagraph"
                  style="color:black;margin-left:0in;line-height:20px;mso-list:l0 level1 lfo2"
                  >
                  <span style="background:white"
                    >
                    Please reach out to me at <a href="mailto:jamdean@centene.com">jamdean@centene.com</a> if you have any questions regarding this change.
                    <o:p></o:p
                      >
                  </span>
                </li>
              </ul>
          <tr style="height:.1pt">
            <td
              width="729"
              colspan="3"
              valign="top"
              style="width:546.6pt;background:#EDEDED;padding:0in 0in 0in 0in;height:.1pt"
              >
              <p class="MsoNormal" style="line-height:105%">
                <span style="color:black"
                  ><img
                  width="729"
                  height="128"
                  style="width:7.5937in;height:1.3333in"
                  id="CenteneTechnologiesFooter"
                  src="data:image/png;base64,{{ footer_image }}" /></span
                  >
                <span
                  style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif'
                  >
                  <o:p></o:p
                    >
                </span>
              </p>
            </td>
          </tr>
          <!--
            <tr style="height:1.0pt">
                    <td
                      width="243"
                      valign="top"
                      style="width:182.25pt;background:#EDEDED;padding:.15in 0in .15in .8in;height:1.0pt"
                    >
                      <p class="MsoNormal" style="line-height:105%">
                        <span style="color:black"
                          ><a href="https://cnet.centene.com/Company/TheInterface"
                            ><span
                              style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif;color:black;text-decoration:none'
                              ><img
                                border="0"
                                width="154"
                                height="56"
                                style="width:1.6041in;height:.5833in"
                                id="Picture_x0020_3"
                                src="cid:image014.png@01D72583.13DD9070" /></span></a></span
                        ><span
                          style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif'
                          ><o:p></o:p
                        ></span>
                      </p>
                    </td>
                    <td
                      width="243"
                      valign="top"
                      style="width:182.2pt;background:#EDEDED;padding:.15in 0in .15in 0in;height:1.0pt"
                    >
                      <p
                        class="MsoNormal"
                        align="center"
                        style="text-align:center;line-height:105%"
                      >
                        <span style="color:black"
                          ><a href="https://cnet.centene.com/company/technologies"
                            ><span
                              style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif;color:black;text-decoration:none'
                              ><img
                                border="0"
                                width="154"
                                height="56"
                                style="width:1.6041in;height:.5833in"
                                id="Picture_x0020_4"
                                src="cid:image020.png@01D72583.13DD9070" /></span></a></span
                        ><span
                          style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif'
                          ><o:p></o:p
                        ></span>
                      </p>
                    </td>
                    <td
                      width="243"
                      valign="top"
                      style="width:182.15pt;background:#EDEDED;padding:.15in .8in .15in 0in;height:1.0pt"
                    >
                      <p
                        class="MsoNormal"
                        align="right"
                        style="text-align:right;line-height:105%"
                      >
                        <span style="color:black"
                          ><a href="https://technologies.centene.com/accomplishments"
                            ><span
                              style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif;color:black;text-decoration:none'
                              ><img
                                border="0"
                                width="154"
                                height="56"
                                style="width:1.6041in;height:.5833in"
                                id="Picture_x0020_5"
                                src="cid:image022.png@01D72583.13DD9070" /></span></a></span
                        ><span
                          style='font-size:10.0pt;line-height:105%;font-family:"Times New Roman",serif'
                          ><o:p></o:p
                        ></span>
                      </p>
                    </td>
                  </tr>
            -->
          <tr style="height:24.75pt">
            <td
              width="729"
              colspan="3"
              valign="top"
              style="width:546.6pt;background:#EDEDED;padding:.1in .55in .1in 30.95pt;height:24.75pt"
              >
              </p>
            </td>
          </tr>
        </table>
      </div>
      <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
      </p>
      <p class="MsoNormal">
        <o:p>&nbsp;</o:p>
      </p>
      <p class="MsoNormal">
        <span style="font-size:11.0pt;color:#1F497D">
          <o:p>&nbsp;</o:p>
        </span>
      </p>
    </div>
  </body>
</html>
